[Unit]
Description=Liquidsoap pre-rec playout

[Service]
Type=simple
ExecStart=/bin/bash /home/ubuntu/liquidsoap-playout-machine/liquidsoap-playout.sh
# Note: we're going to run this service as root, but it'll systemd-run liquidsoap as ubuntu